*{
    margin: 0;
    padding: 0;
}
/**body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    
}**/
section{
    background-color: blanchedalmond;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    
    /**margin: 0 auto; forma vieja de centrar **/
}

h1{
    text-align: center;
}

.uno{
    background-color: blue;
    padding: 150px;
}

.dos{
    background-color: brown;
    padding: 150px;
}